###############################################
# PLEASE NOTE: These are just example values. #
# You SHOULD NOT use any of them verbatim!!!  #
###############################################

linode_token = "1f229b75d7630035395812d9a375407781cad9da4148df91d8ece6ed40c356e1"
ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHw1Sn/UDAG1IoXMUiN+kuM9aiSub+t8kE6yUXlp76nY admin@pc"
ssh_private_key = <<-EOT
-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACB8NUp/1AwBtSKFzFIjfpLjPWokrm/rfJBOslF5ae+p2AAAAJDuErjd7hK4
3QAAAAtzc2gtZWQyNTUxOQAAACB8NUp/1AwBtSKFzFIjfpLjPWokrm/rfJBOslF5ae+p2A
AAAEBvUs98K0HNc+TO+joFjnijtV0OSkazHY983QoFKCJ+znw1Sn/UDAG1IoXMUiN+kuM9
aiSub+t8kE6yUXlp76nYAAAACmNpYXJhbkBpdnkBAgM=
-----END OPENSSH PRIVATE KEY-----
EOT
