###############################################
# PLEASE NOTE: These are just example values. #
# You SHOULD NOT use any of them verbatim!!!  #
###############################################

linode_token = "1f229b75d7630035395812d9a375407781cad9da4148df91d8ece6ed40c356e1"
